@inject ILoginTokenStorage TokenStore
@inject IAuthenticationService Auth
@inject NavigationManager Nav

@if (Error is not null)
{
	<Alert Color="Color.Danger" Visible>
		<strong>That didn't work.</strong> @Error
	</Alert>
}

@if (Success is not null)
{
	<Alert Color="Color.Success" Visible>
		<strong>Success!</strong> @Success
	</Alert>
}

<Form @onsubmit="Submit">
	<Field Horizontal>
		<FieldLabel ColumnSize="ColumnSize.Is2">E-Mail</FieldLabel>
		<FieldBody ColumnSize="ColumnSize.Is10">
			<TextEdit Placeholder="Your e-mail address" Role="@TextRole.Email" @bind-Text="@Email"
			          Autocomplete="email">
				<Feedback>
					<ValidationError/>
				</Feedback>
			</TextEdit>
		</FieldBody>
	</Field>
	<Field Horizontal>
		<FieldLabel ColumnSize="ColumnSize.Is2">Password</FieldLabel>
		<FieldBody ColumnSize="ColumnSize.Is10">
			<TextEdit Placeholder="Your password" Role="@TextRole.Password" @bind-Text="@Password"
			          Autocomplete="current-password">
				<Feedback>
					<ValidationError/>
				</Feedback>
			</TextEdit>
		</FieldBody>
	</Field>
	<Field Horizontal>
		<FieldLabel ColumnSize="ColumnSize.Is2"/>
		<FieldBody ColumnSize="ColumnSize.Is10">
			<Button Color="Color.Primary" Clicked="@Submit" Type="ButtonType.Submit">Login</Button>
		</FieldBody>
	</Field>
</Form>

@code {
	private string Email { get; set; } = string.Empty;
	private string Password { get; set; } = string.Empty;
	private string? Error { get; set; }
	private string? Success { get; set; }

	private async Task Submit()
	{
		Error = null;
		Success = null;

		if (string.IsNullOrWhiteSpace(Email))
		{
			Error = "E-Mail is required";

			return;
		}

		if (string.IsNullOrWhiteSpace(Password))
		{
			Error = "Password is required";

			return;
		}

		try
		{
			var response = await Auth.LoginAsync(Email, Password);
			if (response.Token is null)
				return;

			await TokenStore.StoreTokenAsync(response.Token);
			await Auth.GetSelfAsync();

			Nav.NavigateTo("/?message=welcome-back", true);
		}
		catch (EmailNotFoundErrorDto err)
		{
			Error = err.Error?.Message ?? "Please check your credentials";
		}
		catch (InvalidPasswordErrorDto err)
		{
			Error = err.Error?.Message ?? "Please check your credentials";
		}
		catch (Exception e)
		{
			Error = e.Message;
		}
	}
}
