@inject ApiClient ApiClient
@inject AuthenticationService Auth
@inject NavigationManager Nav

@if (Error is not null)
{
    <Alert Color="Color.Danger" Visible>
        <strong>That didn't work.</strong> @Error
    </Alert>
}

@if (Success is not null)
{
    <Alert Color="Color.Success" Visible>
        <strong>Success!</strong> @Success
    </Alert>
}

<Form @onsubmit="Submit">
    <Validations @ref="_validations" Mode="ValidationMode.Manual" Model="LoginRequest">
        <Validation>
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.Is2">E-Mail</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is10">
                    <TextEdit Placeholder="Your e-mail address" Role="@TextRole.Email" @bind-Text="@LoginRequest.Email" Autocomplete="email">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </FieldBody>
            </Field>
        </Validation>
        <Validation>
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.Is2">Password</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is10">
                    <TextEdit Placeholder="Your password" Role="@TextRole.Password" @bind-Text="@LoginRequest.Password" Autocomplete="current-password">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </FieldBody>
            </Field>
        </Validation>
        <Field Horizontal>
            <FieldLabel ColumnSize="ColumnSize.Is2" />
            <FieldBody ColumnSize="ColumnSize.Is10">
                <Button Color="Color.Primary" Clicked="@Submit" Type="ButtonType.Submit">Login</Button>
            </FieldBody>
        </Field>
    </Validations>
</Form>

@code {
    private Validations? _validations;

    private CreateLoginTokenDto LoginRequest { get; set; } = new CreateLoginTokenDto();

    private string? Error { get; set; }
    private string? Success { get; set; }

    private async Task Submit()
    {
        if (_validations is null || !await _validations.ValidateAll()) return;

        Error = null;
        Success = null;

        var response = await ApiClient.Authentication.LoginToken.PostAsync(LoginRequest);
        if (response is null)
            return;

        await Auth.StoreTokenAsync(response.Token!);
        await Auth.GetSelfAsync();

        Nav.NavigateTo("/?message=welcome-back", true);
    }

}
