<Table>
	<TableHeader>
		<TableRow>
			<TableHeaderCell>Name</TableHeaderCell>
			@if (ShowAuthor)
			{
				<TableHeaderCell>Author</TableHeaderCell>
			}
			<TableHeaderCell>Latest Version</TableHeaderCell>
			<TableHeaderCell>Published</TableHeaderCell>
		</TableRow>
	</TableHeader>
	<TableBody>
		@if (Packages?.Any() ?? false)
		{
			<Repeater Items="Packages.OrderByDescending(p => p.Name)">
				<TableRow>
					<TableRowCell>
						<NavLink href="@("/packages/" + context.Name)">@context.Name</NavLink>
					</TableRowCell>
					@if (ShowAuthor)
					{
						<TableRowCell>
							@* <AuthorLink Username="@(context.AuthorUserName)"/> *@
						</TableRowCell>
					}
					@if (context.Latest is not null)
					{
						<TableRowCell>@context.Latest.Version</TableRowCell>
						<TableRowCell>
							<Abbreviation Title="@context.Latest.PublishedAt.ToString()">@(context.Latest.PublishedAt.Humanize())</Abbreviation>
						</TableRowCell>
					}
					else
					{
						<TableRowCell colspan="2" TextAlignment="TextAlignment.Center" TextColor="TextColor.Muted">
							<em>No latest version available</em>
						</TableRowCell>
					}
				</TableRow>
			</Repeater>
		}
		else
		{
			<TableRow>
				<TableRowCell colspan="@(ShowAuthor ? 4 : 3)" TextAlignment="TextAlignment.Center" TextColor="TextColor.Muted">
					No packages available.
				</TableRowCell>
			</TableRow>
		}
	</TableBody>
</Table>

@code {
	[Parameter]
	public IEnumerable<PackageVersionDtoPackageDto>? Packages { get; set; }

	[Parameter]
	public bool ShowAuthor { get; set; }
}
