@page "/browse/authors"
@inject IAuthorService AuthorService

<PageTitle>Authors</PageTitle>

@if (_authors == null)
{
	<Paragraph>
		<em>Loading...</em>
	</Paragraph>
}
else
{
	<Table>
		<TableHeader>
			<TableRow>
				<TableHeaderCell>Username</TableHeaderCell>
				<TableHeaderCell>Name</TableHeaderCell>
				<TableHeaderCell># of packages</TableHeaderCell>
				<TableHeaderCell>Joined</TableHeaderCell>
			</TableRow>
		</TableHeader>
		<TableBody>
		@if (!(_authors.Authors?.Any() ?? false))
		{
			<TableRow>
				<TableRowCell colspan="4" TextAlignment="TextAlignment.Center">
					<strong>No authors found.</strong>
				</TableRowCell>
			</TableRow>
		}
		else
		{
			<Repeater Items="_authors.Authors.OrderByDescending(a => a.UserName)">
				<TableRow>
					<TableRowCell>
						<NavLink href="@("/authors/" + context.UserName)">@context.UserName</NavLink>
					</TableRowCell>
					<TableRowCell>@context.Name</TableRowCell>
					<TableRowCell>@context.NumPackagesUploaded</TableRowCell>
					<TableRowCell>
						<Abbreviation Title="@(context.Joined.ToString())">@context.Joined.Humanize()</Abbreviation>
					</TableRowCell>
				</TableRow>
			</Repeater>
		}
		</TableBody>
	</Table>
}

@code {
	private AuthorsResponseDto? _authors;

	protected override async Task OnParametersSetAsync()
	{
		_authors = await AuthorService.GetAuthorsAsync();
	}
}
