@inject ILoginService LoginService
@inject ILoginTokenStorage LoginTokenStorage
@inject ILogger<LoginForm> Logger

@code {

	private CreateLoginTokenDto Model { get; } = new();

	private string? Error { get; set; }

	private bool IsSubmitDisabled => string.IsNullOrWhiteSpace(Model.Email) || string.IsNullOrWhiteSpace(Model.Password);

	private async Task Submit()
	{
		try
		{
			var result = await LoginService.LoginAsync(Model);

			await LoginTokenStorage.StoreTokenAsync(result.Token);
		}
		catch (UnauthorizedAccessException e)
		{
			Error = e.Message;
		}
	}

}

<EditForm OnValidSubmit="Submit" Model="@Model">
	@if (Error is { } error)
	{
		<Card Variant="CardVariant.Danger">@error</Card>
	}

	<DataAnnotationsValidator/>
	<ValidationSummary/>

	<div>
		<label for="login-email">Email address</label>
		<InputText id="login-email" @bind-Value="Model.Email"/>
		<ValidationMessage For="@(() => Model.Email)"/>
	</div>

	<div>
		<label for="login-password">Password</label>
		<PasswordInput id="login-password" @bind-Value="Model.Password" autocomplete="current-password"/>
		<ValidationMessage For="@(() => Model.Password)"/>
	</div>

	<FilledButton Submit Disabled="@IsSubmitDisabled">Login</FilledButton>
</EditForm>
