@using PubNet.API.DTO

@inject PackagesService Packages
@inject ApiClient Http

<PageTitle>@Title</PageTitle>

<h1>
	<code>@Title</code>

	@if (Version is not null)
	{
		@:&nbsp;
		<ClickToCopyButton Content="@PubspecVersionText"/>
	}
</h1>

<p class="text-muted">
	@if (Package is null)
	{
		<em>Loading...</em>
	}
	else
	{
		<span>
			Published by <AuthorLink Username="@AuthorUserName"/>
		</span>

		@if (Version is not null)
		{
			@:&nbsp;
			<abbr title="@Version.Published">@(Version.Published.Humanize())</abbr>
		}
	}
</p>

@code {
	[Parameter]
	public PackageDto? Package { get; set; }

	[Parameter]
	public PackageVersionDto? Version { get; set; }

	private bool Loading { get; set; }

	private string? PackageName => Package?.Name;

	private string PubspecVersionText => PackageName is null || Version is null
		? string.Empty
		: TextGenerator.PubspecVersionText(PackageName, Version.Version, Package?.Mirrored ?? false, Http.BaseAddress);

	private string Title => PackageName + (Version is null ? string.Empty : $": {Version.Version}");

	private string? AuthorUserName => Package?.Author?.UserName;

}
