@page "/browse"
@using PubNet.API.DTO
@inject HttpClient Http

<PageTitle>Browse Packages</PageTitle>

@if (_packages == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Latest Version</th>
            <th>Published At</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var package in _packages.Packages.OrderByDescending(p => p.Latest!.PublishedAtUtc))
        {
            <tr>
                <td><NavLink href="@("/package/" + package.Name)">@package.Name</NavLink></td>
                <td><NavLink href="@("/author/" + package.Author?.Username)">@package.Author?.Username</NavLink></td>
                <td>@package.Latest?.Version</td>
                <td>@package.Latest?.PublishedAtUtc.ToLocalTime()</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private PackagesResponse? _packages;

    protected override async Task OnInitializedAsync()
    {
        _packages = await Http.GetFromJsonAsync<PackagesResponse>("packages");
    }
}